<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>
</head>
<body>
    <header>
        <div class="header-container-right">
            <p class="header-container-right-logo">Крипто—Мессендж</p>
        </div>
        <div class="header-container-right">
            <button class="header-container-right-btn-start">Войти</button>
            <button class="header-container-right-btn">Войти</button>
        </div>
    </header>
</body>
</html>